In [18]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import tree

In [19]:
dataset = pd.read_csv('2018combine.csv', encoding ='ISO-8859-1')
dataset.head()

           Player Position  Height  Weight  40 Yard  Bench  Vertical
0  Maddox, Avonte       DB    5980     184     4.39   13.0      37.0
1      Reed, D.J.       DB    5980     188     4.51   11.0      36.5
2    Haley, Grant       DB    5980     190     4.44   15.0      34.0
3  Johnson, Danny       DB    5980     181     4.44   15.0      35.0
4   Fant, Rashard       DB    5980     179     4.47   15.0      36.3

In [20]:
#dataset.head() #top five
dataset.info()
dataset.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 7 columns):
Player      317 non-null object
Position    317 non-null object
Height      317 non-null int64
Weight      317 non-null int64
40 Yard     317 non-null float64
Bench       317 non-null float64
Vertical    317 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 17.4+ KB

            Height      Weight     40 Yard       Bench    Vertical
count   317.000000  317.000000  317.000000  317.000000  317.000000
mean   6019.063091  240.876972    4.748612   19.529968   32.895268
std      23.779894   43.996123    0.298660    5.940226    3.969099
min    5970.000000  178.000000    4.320000    4.000000   23.500000
25%    6002.000000  204.000000    4.520000   15.000000   31.000000
50%    6020.000000  229.000000    4.660000   19.500000   33.500000
75%    6036.000000  275.000000    4.900000   24.000000   35.500000
max    6085.000000  347.000000    5.850000   42.000000   41.500000

In [21]:
data = dataset[['Height','Weight','40 Yard','Bench','Vertical']]
target = dataset[['Position']]

In [22]:
clf = tree.DecisionTreeClassifier()
clf.fit(data,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
clf.predict(data)
#worked lmao

array(['DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB',
       'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB',
       'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB',
       'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB',
       'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB',
       'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB', 'DB',
       'DB', 'DB', 'DB', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL',
       'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL',
       'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL',
       'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL',
       'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'DL', 'LB',
       'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB',
       'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB',
       'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB',
       'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'LB', 'OL', 'OL', 'OL', 'OL',
       'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL',
       'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL',
       'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL',
       'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'OL', 'QB',
       'QB', 'QB', 'QB', 'QB', 'QB', 'QB', 'QB', 'QB', 'QB', 'QB', 'QB',
       'QB', 'QB', 'QB', 'QB', 'QB', 'QB', 'RB', 'RB', 'RB', 'RB', 'RB',
       'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB',
       'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB', 'RB',
       'RB', 'RB', 'RB', 'RB', 'RB', 'TE', 'TE', 'TE', 'TE', 'TE', 'TE',
       'TE', 'TE', 'TE', 'TE', 'TE', 'TE', 'TE', 'TE', 'TE', 'TE', 'WR',
       'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR',
       'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR',
       'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR',
       'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR', 'WR'], dtype=object)

In [24]:
test = [6040, 272, 4.78,19,31]  #input data for player you want in form [height,weight,40 yard,bench,vertical]
test = np.array(test).reshape(1,-1)
clf.predict(test)

array(['DL'], dtype=object)

In [25]:
height = input("Height:")
weight = input("Weight:")
fortyyard = input("40 yard dash time:")
bench = input("Bench reps:")
vertical = input("Vertical jump:")
test = [height, weight, fortyyard,bench,vertical]  #input data for player you want in form [height,weight,40 yard,bench,vertical]
test = np.array(test).reshape(1,-1)
clf.predict(test)

Height:6000
Weight:300
40 yard dash time:5
Bench reps:30
Vertical jump:10

array(['OL'], dtype=object)